/* Logo */
.vl:hover > .hl {
    animation-duration: 1s;
    animation-name: line-expand;
}
  
.vl:not(:hover) > .hl {
    visibility: hidden;
}
  
.navbar-title:hover > .vl {
    animation-duration: 1s;
    animation-name: line-expand;
}
  
@keyframes line-expand {
    from {
        width: 0%;
    }
      
    to {
        width: 100%;
    }
}

/* Cards container */
.container {
    display: flex;
    justify-content: space-between;
}

@media (min-width:576px) {
.flex-left {
    flex: 0 0 auto;
    width: 75%;
}

.flex-right {
    flex: 0 0 auto;
    width: 25%;
}
}

.row{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display:flex;
    flex-wrap:wrap;
    margin-top:calc(-1 * var(--bs-gutter-y));
    margin-right:calc(-.5 * var(--bs-gutter-x));
    margin-left:calc(-.5 * var(--bs-gutter-x))
}

/* List ressources */
ul.list-ressources {
    list-style-type: "> ";
  }